<div class="container-fluid footer-media">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 rights">
          © 2024 Praganya Mittal. All rights reserved
        </div>
        <div class="col-lg-6 media-links">

          <i class='bx bxl-facebook-circle' onclick="facebook()"></i>
          <i class='bx bxl-twitter' onclick="twitter()"></i>
          <i class='bx bxl-instagram' onclick="instagram()"></i>
          <i class='bx bxl-linkedin' onclick="linkedin()"></i>
          <i class='bx bxl-google' onclick="google()"></i>
        </div>
      </div>

    </div>
  </div>