<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art Press</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/more3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="index.js"></script>
</head>

<body>
    <div class="container text-center pkgcontainer ">
        <h1>Artistic Showcases</h1>
        <span class="txt">Checkout our Arts</span>
        <div class="row pkgrow">
            <div id="first" class="col-lg-4 pkg">
            </div>

            <div id="second" class="col-lg-4 pkg">
                <div class="detail">
                    <h4>STILL LIFE</h4><br>
                    <p>Still life painting captures the beauty of everyday objects, emphasizing texture, light, and composition. It invites viewers to appreciate the artistry in ordinary items and the subtleties of their arrangement.
                    </p>
                </div>
                <div id="info" class="row row-cols-auto-center ">
                   
                    <div class="col"><i class='bx bxs-group'></i> 80</div>
                    
                </div>

            </div>
            <div id="third" class="col-lg-4 pkg">
                <p>(68 reviews) <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                        class='bx bxs-star'></i><i class='bx bxs-star-half'></i><br>
                    <span class="rate">Rs. 1699</span><br>
                   
                </P>
                <button type="button" class="btn btn-outline-light" onclick="book()">Book now</button>

            </div>
        </div>
        <div class="row pkgrow">
            <div id="first2" class="col-lg-4 pkg">
            </div>

            <div id="second" class="col-lg-4 pkg">
                <div class="detail">
                    <h4>CARTOON</h4><br>
                    <p>Cartoon painting involves vibrant colors and bold lines to create whimsical, exaggerated imagery. It’s used for storytelling in comics, animation, and children's books, offering a playful and imaginative visual experience.</p>
                </div>
                <div id="info" class="row row-cols-auto-center">
                    
                    <div class="col"><i class='bx bxs-group'></i>109</div>
                 
                </div>

            </div>
            <div id="third" class="col-lg-4 pkg">
                <p>(67 reviews) <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                        class='bx bxs-star-half'></i><i class='bx bx-star'></i><br>
                    <span class="rate">RS. 1599</span><br>
                   
                </P>
                <button type="button" class="btn btn-outline-light" onclick="book()">Book now</button>

            </div>
        </div>
        <div class="row pkgrow">
            <div id="first3" class="col-lg-4 pkg">
            </div>

            <div id="second" class="col-lg-4 pkg">
                <div class="detail">
                    <h4>LANDSCAPE</h4><br>
                    <p>Landscapes embody the beauty of nature, with rolling hills, lush forests, tranquil lakes, majestic mountains, and endless skies. They inspire tranquility and a profound connection to the Earth.</p>
                </div>
                <div id="info" class="row row-cols-auto-center">
                    
                    <div class="col"><i class='bx bxs-group'></i>67</div>
                    
                </div>

            </div>
            <div id="third" class="col-lg-4 pkg">
                <p>(49 reviews) <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
                        class='bx bxs-star'></i><i class='bx bxs-star-half'></i><br>
                    <span class="rate">RS. 2099</span><br>
                   
                </P>
                <button type="button" class="btn btn-outline-light" onclick="book()">Book now</button>
            </div>
        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
               
                <li class="page-item"><a  href="./more1.html"><button>1</button></a></li>
                <li class="page-item"><a  href="./more2.html"><button>2</button></a></li>
                <li class="page-item"><a href="./more3.html" ><button>3</button></a></li>
                
            </ul>
        </nav>
    </div>
</body>
<script>
    function book() {
        window.open('book.html');
    }
</script>

</html>